.add_top_10{
    margin-top: 10px !important;
}
.box {
    position: relative;
    /* border-radius: 3px; */
    background: #ffffff;
    border: 1px solid #d4d4d4;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box.box-primary {
     position: relative;
    /* border-radius: 3px; */
    background: #ffffff;
    border: 1px solid #d4d4d4;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
     padding-left: 15px!important;
    padding-right: 15px!important;
}

.content {
    min-height: 250px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.box-body {
     border-top-left-radius: 0; 
     border-top-right-radius: 0; 
     border-bottom-right-radius: 0px; 
     border-bottom-left-radius: 0px; 
     padding: 5px; 
}



.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 8px;
    padding-right: 8px;
}
.botonsalir{
	    background-color: #011123;
    color: #fff;
    padding: 10px 15px;
    /* border-color: #ddd; */
}
tbody {
   font-weight: 300;

}


.btn-primary {
    background-color: #222d32;
    border-color: #011123;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.hover {
    background-color: rgba(1, 17, 35, 0.63);
}

.btn-primary:hover {
    color: #fff;
    background-color: #222d32;
    border-color: #011123;
}


.btn:hover, .btn:focus, .btn.focus {
    color: #ffffff;
    text-decoration: none;
}

.btn:focus {
    outline: none;
}


.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus {
    color: #fff;
    background-color: #011123;
    border-color: #222d32;
}
.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: rgba(1, 17, 35, 0.75);
    border-color: #133d55;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: 300;
}
input{

    
 
   
    font-size: 14px;
    line-height: 1.6;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccd0d2;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

  
}
table.dataTable.no-footer {
    border-bottom: 1px solid #ccd0d2;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #ccd0d2;
}

.buttons-pdf{
    border-color: #ddd!important;
}
.buttons-html5{
    border-color: #ddd;
}
.dt-button {
    background-color: #f4f4f4;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid transparent;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent!important;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.6;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #222d32!important;
    border-bottom-color: #dddddd!important;
    margin: 1px;
    margin-top: 15px;

}

.dt-button:hover, .dt-button:focus {
    color: #fff!important;
    background-color: #ddd!important;
    text-decoration: none;
}
.n{
    font-weight: 900;

}
.load{
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
}
.load .in{
    width: 400px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
}
.wrapper {
    filter: blur(3px);
}
.dataTables_filter{
    float: left!important;
    margin-left: 3%!important;
}

@media screen and (max-width: 450px){

.responsive-table {
    width: 100%;
    margin-bottom: 16.5px;

    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;

    overflow-x: auto;
    min-height: 0.01%;
}

}
.entrada{
    background-color: gainsboro;
    border: solid 1px;
}
.salida{
        background-color: #97bbcd;
    border: solid 1px;
}
.small-box:hover {
    text-decoration: none;
    color: #011123;
}

.small-box > .small-box-footer {
    color: #111;
    background: rgba(0, 0, 0, 0.15);
}
.dataTables_filter {
    float: left!important;
    margin-left: 3%!important;
    top: 10px;
    margin-top: 15px;
}

    .colorazul{
  background-color: #3097d1;
  color: #fff;
}

    .colorrojo{
  background-color: #dd4b39;
  color: #fff;
}

.radio1 + .radio1, .checkbox + .checkbox {
    margin-top: 1px;
}
.radio1 {
    position: relative;
    display: block;
    margin-top: 1px;
    margin-bottom: 10px;
}
.naranja{
    background-color: #f39c12;
}

.margen30{
    margin-right: 30px;
}
.negro{
    background-color:rgb(1, 17, 35);
    color: #fff;
}